{% load static %}
<html>
    <head>
        <title>Blog de Santiago Romero</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">Estadios más lindos del futbol argentino</a></h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% for publicacion in publicaciones %}
                        <div class="post">
                            <img src="{{ publicacion.img }}" alt="{{ publicacion.titulo }}" style="max-height: 190px; float: left; margin-right: 20px; border-radius:5px;">
                            <div class="date">
                            <p> publicado: {{ publicacion.fecha_publicacion }}</p>
                            </div>
                        <h2><a href="">{{ publicacion.titulo }}</a></h2>
                        <p>{{ publicacion.texto|linebreaksbr }}</p>
                        <hr>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    </body>
</html>