{% load static %}
<html>
    <head>
        <title>Blog de Santiago Romero</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div>
            <h1><a href="/">Blog de Santiago Romero</a></h1>
        </div>
        {% for publicacion in publicaciones %}
        <div>
            <p> publicado: {{ publicacion.fecha_publicacion }}</p>
            <h2><a href="">{{ publicacion.titulo }}</a></h2>
            <p>{{ publicacion.texto|linebreaksbr }}</p>
            <hr>
        </div>
        {% endfor %}
    </body>
</html>